<div class="container">
  <div class="row">
    <app-formulario></app-formulario>
  </div>
  <div class="row">
    <div class="col-6">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Formulario de Inscripción</mat-card-title>
          <mat-card-subtitle>Institute Quasar</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://cdn.uanews.arizona.edu/s3fs-public/styles/uaqs_large/public/story-images/distant_quasar_cropped.png?itok=nraszXz8" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
      
    </div>
    <div class="col">
      <form class="example-form">

        <mat-form-field class="example-full-width">
          <mat-label>Nombre</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Apellido</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>DNI</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Domicilio</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Número de calle</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Localidad</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>Provincia</mat-label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label>País</mat-label>
          <input type="text" placeholder="Seleccione una opción" aria-label="País" matInput [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <section class="example-section">
          <label class="example-margin">Género:</label>
          <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button class="example-margin" value="after">Hombre</mat-radio-button>
            <mat-radio-button class="example-margin" value="before">Mujer</mat-radio-button>
          </mat-radio-group>
        </section>

        <div class="example-container">
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" [formControl]="email" required>
            <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
        </div>
        



        <button mat-raised-button color="primary">Enviar</button>
      
      
      
      </form>

    </div>
  </div>
</div>